* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* ------------------- header start ----------------------------- */

header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 8 0;
}

header,
.header__container,
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  height: auto;
}

.nav__list--item {
  list-style-type: none;
  padding: 17px 0;
}

.nav__list--item-link {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

.nav__list--item-link:hover {
  border-bottom: 2.5px solid #00bafc;
}

.btn-phone {
  background: #00bafc;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.btn-phone:hover {
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  display: block;
  opacity: 1;
  top: 55px;
}

.dropdown__menu {
  position: absolute;
  background-color: #fff;
  min-width: 170px;
  left: -30px;
  top: 100px;
  z-index: 3;
  opacity: 0;
  display: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dropdown__menu--item {
  padding: 10px 12px;
  margin: 1px auto;
  list-style-type: none;
}

.dropdown__menu--item:hover {
  background-color: #00bafc;
}

.dropdown__menu--item:hover .dropdown__menu--item-link {
  color: #fff;
}
.dropdown__menu--item-link {
  text-decoration: none;
  color: #000;
}

/* ------------------- header end ----------------------------- */

/* ------------------- intro start ----------------------------- */

.intro__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.intro__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro__info-title {
  font-weight: 700;
  font-size: 30px;
  width: 470px;
}

.intro__info-subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 465px;
}

.intro__info-btn {
  width: 232px;
  background: #00bafc;
  border-radius: 5px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* ------------------- intro end ----------------------------- */

/* ------------------- service start ----------------------------- */

.service__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.service__title {
  margin-top: 122px;
  font-weight: 700;
  font-size: 24px;
}

.service__subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 719px;
  text-align: center;
}

.service__cards {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
}

.service__cards-card {
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 24px;
  width: 320px;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.service__footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.service__btn {
  background: #00bafc;
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  width: 167px;
  cursor: pointer;
}

.service__link {
  color: #00bafc;
}

/* ------------------- service end ----------------------------- */

/* ------------------- about start ----------------------------- */

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.about__title {
  margin-top: 139px;
  font-weight: 700;
  font-size: 24px;
}

.about__subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 719px;
  text-align: center;
}

.about__cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.about__cards-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  list-style-type: none;
}

.card__info-title {
  font-weight: 700;
  font-size: 20px;
}

.card__info-subtitle {
  font-weight: 400;
  font-size: 16px;
  width: 493px;
}

.about__container button {
  margin-top: 40px;
}

/* ------------------- about end ----------------------------- */

/* ------------------- contact start ----------------------------- */

.contact {
  margin-top: 56px;
  background: #00bafc;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.contact__title {
  margin-top: 56px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.contact__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 719px;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 64px;
  margin-top: 8px;
}

.contact__wrapper-input {
  padding: 16px;
  background: #f3f3f3;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 56px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

/* ------------------- contact end ----------------------------- */

footer {
  background: #191919;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 56px;
  gap: 40px;
}

.title {
  margin-top: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.copyright__subtitle {
  width: 320px;
}

.list {
  list-style-type: none;
}

.copyright {
  margin-right: 100px;
}
.pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 87px;
  gap: 16px;
}

.pages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright__title {
  margin-top: -15px;
  padding-bottom: 16px;
}
.social {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social__list {
  margin-top: 16px;
}

.social__title {
  margin-top: -20px;
}

.social__list--item-link {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 8px 0;
  text-decoration: none;
}
